 {{>partials/nav}}

    <div class="my-5 py-4">
      <h2>{{>partials/titleTabla}}</h2>

      <hr />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each skeaters}}
            <th scope="row">{{this.id}}</th>
            <td><img class="foto" src="assets/imgs/{{this.foto}}" alt="Foto de {{this.nombre}}"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td><input type="checkbox" class="estadoCheckbox" dataId="{{this.id}}" 
            {{#if this.estado}}
            checked
            {{/if}} /></td>
          </tr>
             {{/each}}
        </tbody>
      </table>
    </div>